body{
    font-size: 24px ;
}
#disc{
    list-style-type: disc;
}
#square{
    list-style-type: square;
}
#circle{
    list-style-type: circle;
}
#decimal{
    list-style-type: decimal;
}
.ul{
    background: #e8e8e8;
    width: 250px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}
#inside{
    list-style-position: inside;
}
#outside{
    list-style-position: outside;
}
#image{
    list-style-image: url("TH3.jpg");
}
#container{
    padding-left: 5px;
    margin-left: 15px;
}
#container p {
    display: list-item;
    list-style: disc;
    margin: 0;
}