p.font{
    font-family: Arial, Tahoma,sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #333333;
    font-size: 16px;
}
p{
    font-size: 32px;
}
#serif{
    font-family: serif;
}
#san-serif{
    font-family: sans-serif;
}